@use '../tools/' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: $background;
    color: $text-scale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    main.ctnr {
        margin-top: 208px;
        @media (max-width: 650px) {
            margin-top: 150px;
        }
    }

    .ctnr {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    .w100 {
        width: 100%;
    }
}

p span {
    color: $primary;
    font-weight: 900;
}

input {
    background: rgba($color: $complementary, $alpha: 0.5);
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    color: $white;
    &::placeholder {
        color: $white;
    }
}

br.display {
    @media (max-width: 480px) {
        display: block;
    }
    @media (min-width: 480px) {
        display: none;
    }
}




