@use '../tools/' as *;

* {
    box-sizing: border-box;
}

body {
    font-family: $montserrat;
    margin: 0;
    letter-spacing: 0.1em;
    height: 100vh;
    background: $background;
    color: $text-scale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5%;

    main {
        display: flex;
        flex-direction: column;
        max-width: 625px;
        width: 100%;
        margin: 0 auto;
        transform: translateY(calc(50vh - 50%));
        padding: 24px;
    }
}

p span {
    color: $primary-main;
    font-weight: 900;
}

input {
    background: rgba($color: aquamarine, $alpha: 0.5);
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    color: $white;
    &::placeholder {
        color: $white;
    }
}

.turns-and-matches {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
    @media (max-width: 650px)  {
        margin-top: 0;
    }
    &.all-six-matches {
        font-size: 2.2em;
        @media (max-width: 650px)  {
            font-size: 1.25em;
        }
    }
}



