@use "../tools/" as *;

.card-grid {
    margin: 5vh auto;
    display: grid;
    row-gap: 3vh;
    grid-template-columns: 120px 120px 120px 120px;
    column-gap: 35px;
    @media (max-width: 950px) {
        grid-template-columns: 90px 90px 90px 90px;
    }
    @media (max-width: 650px) {
        grid-template-columns: 70px 70px 70px;
    }
    .card {
        position: relative;
        img {
            display: block;
            border: solid 1px $white;
            border-radius: 50%;
            transition: all 300ms ease;
            perspective: 150em;
            backface-visibility: hidden;
            
            @media (min-width: 950px) {
                width: 120px;
                height: 120px;
            }
            @media (max-width: 950px) {
                width: 90px;
                height: 90px;
            }
            @media (max-width: 650px) {
                width: 70px;
                height: 70px;
            }

            &.front {
                position: absolute;
                transform: rotateY(180deg);
            }

            &.back:hover {
                cursor: pointer;
            }
        }

        .flipped .front {
            transform: rotateY(0deg);
        }

        .flipped .back {
            transform: rotateY(180deg);
        }
    }
}
