@use "../tools" as *;

.navbar {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    background: linear-gradient(90deg, rgba(255, 245, 110, 0.8) 50%, rgba(231, 90, 121, 0.7) 100%);
    @include shadowNavbar;
    margin-bottom: 7vh;
    border-radius: 0 0 60px 0;
    @include media-max($tablet-m) {
        margin-bottom: 3vh;
        border-radius: 0;
        padding: 6% 0;
    }
    @include media-min($mobile-m) {
        width: 100vw;
    }
    .nav-content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            white-space: nowrap;
            font-family: $montserrat;
            color: $text-scale4;
            font-size: 60px;
            font-weight: 500;
            @include media-max($tablet-m) {
                font-size: 35px;
            }
            @include media-max($mobile-m) {
                font-size: 20px;
            }
        }

        nav {
            ul {
                display: flex;
                li {
                    margin-left: 30px;
                    button {
                        font-size: large;
                        font-weight: 700;
                        font-family: $lato;
                        transition: transform 0.3s;
                        color: $text-scale2;
                        @include media-min($tablet-m) {
                            color: white;
                        }
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            @include media-max($tablet-m) {
                display: none;
            }
            &.open {
                display: block;
                ul {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    display: block;
                    padding: 7%;
                    background: rgba($color: #ffffff, $alpha: 0.85);
                    animation: fromTheTop 0.3s ease;
                    z-index: 3;
                    li {
                        margin: 0;
                        button {
                            font-size: 40px;
                            font-style: italic;
                            font-family: $montserrat;

                        }
                    }
                }
            }
            @include media-min($tablet-m) {
                .mobile {
                    display: none;
                }
                .desktop {
                    display: flex;
                }
            }
            @include media-max($tablet-m) {
                .mobile {
                    display: block;
                }
                .desktop {
                    display: none;
                }
            }
        }

        .menu-btn {
            @include media-min($tablet-m) {
                display: none;
            }
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            z-index: 3;

            &.open .menu-btn__burger {
                transform: translateX(-25px);
                background: transparent;
                box-shadow: none;
                &::before {
                    transform: rotate(45deg) translate(16px, -16px);
                    background: $text-scale2;
                }
                &::after {
                    transform: rotate(-45deg) translate(16px, 16px);
                    background: $text-scale2;
                }
            }

            &__burger {
                width: 25px;
                height: 3px;
                background: white;
                border-radius: 5px;
                transition: all 0.4s ease-in-out;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 3px;
                    background: white;
                    border-radius: 5px;
                    transition: all 0.4s ease-in-out;
                }

                &::before {
                    transform: translateY(-8px);
                }

                &::after {
                    transform: translateY(8px);
                }
            }
        }
    }
}
