@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "MagilioRegular";
  src: local("MagilioRegular"), url("../../assets/fonts/MagilioRegular-Yzv2O.ttf") format("truetype");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

fieldset,
button {
  border: none;
  background: none;
}

/* inputs */
input,
button,
textarea,
select {
  font-style: inherit;
  -webkit-padding-start: 0;
  align-items: flex-start;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
button {
  cursor: pointer;
}

*::-moz-placeholder {
  font-family: "Mulish", serif;
  color: white;
}

*:-ms-input-placeholder {
  font-family: "Mulish", serif;
  color: white;
}

body,
*::placeholder {
  font-family: "Mulish", serif;
  color: white;
}

h1:not(h1.logo) {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
h1.logo {
  font-size: 3.5rem;
  font-family: "MagilioRegular", serif;
  line-height: 85%;
}
@media (max-width: 750px) {
  h1.logo {
    font-size: 3rem;
  }
}
h1.small-title {
  font-size: 2.6em;
}
@media (max-width: 990px) {
  h1.small-title {
    font-size: 2em;
  }
}
@media (max-width: 750px) {
  h1.small-title {
    font-size: 1.5em;
  }
}

h1.title {
  margin: 3vh 0 5vh 0;
}

nav li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 200%;
}

@media (max-width: 650px) {
  .movie-card p {
    font-size: 0.75em;
  }
}

.movie-details p {
  line-height: 160%;
  font-size: 20px;
}

label {
  font-size: 20px;
  color: #59BDCA;
}

.elastic {
  -webkit-animation: elastic 2s ease-in-out infinite;
          animation: elastic 2s ease-in-out infinite;
}

@-webkit-keyframes elastic {
  0% {
    transform: scale(1);
  }
  3.9% {
    transform: scale(1.12);
  }
  9.32% {
    transform: scale(0.9);
  }
  11.3% {
    transform: scale(1.05);
  }
  12.7% {
    transform: scale(0.93);
  }
  13.8% {
    transform: scale(1.03);
  }
  15.65% {
    transform: scale(0.97);
  }
  15.3% {
    transform: scale(1);
  }
  16% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    transform: scale(1);
  }
  3.9% {
    transform: scale(1.12);
  }
  9.32% {
    transform: scale(0.9);
  }
  11.3% {
    transform: scale(1.05);
  }
  12.7% {
    transform: scale(0.93);
  }
  13.8% {
    transform: scale(1.03);
  }
  15.65% {
    transform: scale(0.97);
  }
  15.3% {
    transform: scale(1);
  }
  16% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.rightToLeft {
  position: absolute;
  -webkit-animation: rightToLeft 6s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: rightToLeft 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes rightToLeft {
  0% {
    transform: translateX(60vw);
  }
  20% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(60vw);
  }
  20% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateY(0);
  }
}
.leftToRight {
  -webkit-animation: leftToRight 6s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: leftToRight 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

@-webkit-keyframes leftToRight {
  0% {
    transform: translateX(-70vw);
    display: none;
  }
  30% {
    transform: translateX(-70vw);
    display: none;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-70vw);
    display: none;
  }
  30% {
    transform: translateX(-70vw);
    display: none;
  }
  100% {
    transform: translateX(0);
  }
}
.opacity {
  -webkit-animation: opacity 6s ease;
          animation: opacity 6s ease;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opacity_2 {
  -webkit-animation: opacity_2 2s ease;
          animation: opacity_2 2s ease;
}

@-webkit-keyframes opacity_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #231d2e;
  background: linear-gradient(270deg, #231d2e, #24353d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body main.ctnr {
  margin-top: 208px;
}
@media (max-width: 650px) {
  body main.ctnr {
    margin-top: 150px;
  }
}
body .ctnr {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
body .w100 {
  width: 100%;
}

span {
  color: #59BDCA;
  font-weight: 900;
}
span.regular-fw {
  font-weight: 400;
}

input {
  background: #656467;
  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  width: 100%;
  color: white;
}
input::-moz-placeholder {
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}
input::placeholder {
  color: white;
}

textarea {
  background: #656467;
  padding: 12px 16px;
  border-radius: 20px;
  width: 100%;
  height: 300px;
  margin-top: 8px;
}

@media (max-width: 480px) {
  br.display {
    display: block;
  }
}
@media (min-width: 480px) {
  br.display {
    display: none;
  }
}

.gradient-placeholder {
  width: 100%;
  height: 85%;
  background: linear-gradient(to top, #59BDCA, #656467);
  border-radius: 15px 15px 0 0;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: #656467;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 24px 32px;
  transition: all 300ms ease;
}
button:hover {
  background: #59BDCA;
  cursor: pointer;
}

.movie-card-and-btns_ctnr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .movie-card-and-btns_ctnr {
    flex-direction: column;
  }
}
.movie-card-and-btns_ctnr .movie-card,
.movie-card-and-btns_ctnr .btns_ctnr {
  height: 200px;
}
.movie-card-and-btns_ctnr .movie-card {
  cursor: pointer;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  width: 90%;
  margin-bottom: 32px;
}
@media (max-width: 650px) {
  .movie-card-and-btns_ctnr .movie-card {
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
  }
}
.movie-card-and-btns_ctnr .movie-card img {
  height: 100%;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 650px) {
  .movie-card-and-btns_ctnr .movie-card img {
    border-radius: 20px 0 0 0;
  }
}
.movie-card-and-btns_ctnr .movie-card h1.montserrat {
  margin: 0;
}
.movie-card-and-btns_ctnr .movie-card .text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card-and-btns_ctnr .movie-card .text .description {
  overflow: hidden;
  text-overflow: Ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
@media (max-width: 550px) {
  .movie-card-and-btns_ctnr .movie-card .text .description {
    -webkit-line-clamp: 3;
  }
}
.movie-card-and-btns_ctnr .btns_ctnr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.movie-card-and-btns_ctnr .btns_ctnr button.movie-card-btn {
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 12px;
}
@media (max-width: 650px) {
  .movie-card-and-btns_ctnr .btns_ctnr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }
  .movie-card-and-btns_ctnr .btns_ctnr button.movie-card-btn {
    width: 50%;
    height: 50px;
    margin: 0;
  }
  .movie-card-and-btns_ctnr .btns_ctnr button.movie-card-btn:nth-of-type(1) {
    border-radius: 0 0 0 20px;
  }
  .movie-card-and-btns_ctnr .btns_ctnr button.movie-card-btn:nth-of-type(2) {
    border-radius: 0 0 20px 0;
  }
}

nav {
  position: fixed;
  padding: 5vh 5%;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("https://images.unsplash.com/photo-1594909122845-11baa439b7bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3456&q=80");
  background-size: cover;
  background-position-y: center;
  z-index: 2;
}
nav .ctnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .ctnr li {
  cursor: pointer;
  transition: all 300ms ease;
}
nav .ctnr li:hover {
  transform: scale(1.15);
}

input.search-input {
  margin-bottom: 12px;
  padding: 24px 32px;
  font-size: 18px;
}

ul.movie-results {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  -moz-column-gap: 2.4%;
       column-gap: 2.4%;
  row-gap: 2%;
}
ul.movie-results li.movie-result {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
ul.movie-results li.movie-result img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
ul.movie-results li.movie-result .text {
  padding: 12px 16px;
  text-align: center;
}

.add-movie {
  padding: 2.5% 5%;
}

.add-movie-form {
  padding: 32px;
}
.add-movie-form .presentation-text {
  margin-bottom: 32px;
}
.add-movie-form .presentation-text h1 {
  text-align: center;
  margin: 40px 0 60px 0;
}
.add-movie-form .presentation-text h2 {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.add-movie-form form {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.add-movie-form form input,
.add-movie-form form textaera {
  margin: 8px 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.add-movie-form form .top-side {
  display: flex;
  justify-content: space-between;
}
.add-movie-form form .top-side img {
  transform: translate(32px, -32px);
  border-radius: 0 20px 0 20px;
  z-index: -1;
}
.add-movie-form form .top-side .top-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.add-movie-form form .bottom-side .bottom-side_section {
  margin: 60px 0;
}
.add-movie-form form .bottom-side .categories {
  display: flex;
}
.add-movie-form form .bottom-side .categories input {
  margin-right: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.add-movie-form form .bottom-side .three-similar-movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.add-movie-form form .bottom-side .three-similar-movies .similar-movie {
  background: #656467;
  border-radius: 15px;
  width: 32%;
}
.add-movie-form form .bottom-side .three-similar-movies .similar-movie img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.add-movie-form form .bottom-side .three-similar-movies .similar-movie p {
  padding: 12px 16px;
  text-align: center;
}
.add-movie-form form .bottom-side .casting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.add-movie-form form .bottom-side .casting .actor {
  width: 16%;
  text-align: center;
}
.add-movie-form form .bottom-side .casting .actor img {
  width: 100%;
  border-radius: 15px;
}

.movie-details {
  padding: 3vh 0;
}
.movie-details .backdrop_ctnr {
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  z-index: -1;
}
.movie-details .backdrop_ctnr::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.movie-details .backdrop_ctnr img.backdrop {
  width: 100%;
  height: 100vh;
  filter: blur(30px);
}
.movie-details h1 {
  text-align: center;
}
.movie-details .three-panels-layout {
  margin-bottom: 10vh !important;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.movie-details .three-panels-layout div {
  margin: 0 auto;
}
.movie-details .three-panels-layout .left-panel {
  text-align: end;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-details .three-panels-layout .left-panel .categories {
  font-weight: 700;
  font-style: italic;
}
.movie-details .three-panels-layout .center-panel {
  display: flex;
  justify-content: flex-end;
  width: 38%;
}
.movie-details .three-panels-layout .center-panel img {
  height: 600px;
  width: auto;
}
.movie-details .three-panels-layout .right-panel {
  width: 38%;
}
.movie-details .three-panels-layout .right-panel ul {
  display: flex;
  justify-content: flext-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
}
.movie-details .three-panels-layout .right-panel img {
  height: 100px;
  width: auto;
  margin-right: 3vw;
}
.movie-details .similar-movies_ctnr h2 {
  text-align: center;
  margin-bottom: 12px;
}
.movie-details .similar-movies {
  display: flex;
  justify-content: center;
}
.movie-details .similar-movies img {
  width: 260px;
  border-radius: 10px;
}
.movie-details .similar-movies ul {
  background: rgba(0, 0, 0, 0.3);
  padding: 4%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.movie-details .similar-movies ul li {
  margin-bottom: 8px;
}

.movie-list {
  padding: 3% 5%;
}/*# sourceMappingURL=style.css.map */