@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "MagilioRegular";
  src: local("MagilioRegular"), url("../../assets/fonts/MagilioRegular-Yzv2O.ttf") format("truetype");
}
ul {
  list-style-type: none;
}

h1 {
  font-family: "MagilioRegular", serif;
  font-size: 4rem;
  line-height: 80%;
}
h1 span {
  color: #ff7dc7;
  font-size: 2.7rem;
  margin-left: 65px;
}
@media (max-width: 650px), (max-height: 800px) {
  h1 {
    margin-top: 0;
    font-size: 4rem;
  }
  h1 span {
    font-size: 1.78rem;
    margin-left: 45px;
  }
}

.elastic {
  -webkit-animation: elastic 2s ease-in-out infinite;
          animation: elastic 2s ease-in-out infinite;
}

@-webkit-keyframes elastic {
  0% {
    transform: scale(1);
  }
  3.9% {
    transform: scale(1.12);
  }
  9.32% {
    transform: scale(0.9);
  }
  11.3% {
    transform: scale(1.05);
  }
  12.7% {
    transform: scale(0.93);
  }
  13.8% {
    transform: scale(1.03);
  }
  15.65% {
    transform: scale(0.97);
  }
  15.3% {
    transform: scale(1);
  }
  16% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    transform: scale(1);
  }
  3.9% {
    transform: scale(1.12);
  }
  9.32% {
    transform: scale(0.9);
  }
  11.3% {
    transform: scale(1.05);
  }
  12.7% {
    transform: scale(0.93);
  }
  13.8% {
    transform: scale(1.03);
  }
  15.65% {
    transform: scale(0.97);
  }
  15.3% {
    transform: scale(1);
  }
  16% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.rightToLeft {
  position: absolute;
  -webkit-animation: rightToLeft 6s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: rightToLeft 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes rightToLeft {
  0% {
    transform: translateX(60vw);
  }
  20% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(60vw);
  }
  20% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateY(0);
  }
}
.leftToRight {
  -webkit-animation: leftToRight 6s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: leftToRight 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

@-webkit-keyframes leftToRight {
  0% {
    transform: translateX(-70vw);
    display: none;
  }
  30% {
    transform: translateX(-70vw);
    display: none;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-70vw);
    display: none;
  }
  30% {
    transform: translateX(-70vw);
    display: none;
  }
  100% {
    transform: translateX(0);
  }
}
.opacity {
  -webkit-animation: opacity 6s ease;
          animation: opacity 6s ease;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opacity_2 {
  -webkit-animation: opacity_2 2s ease;
          animation: opacity_2 2s ease;
}

@-webkit-keyframes opacity_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  letter-spacing: 0.1em;
  height: 100vh;
  background: #282a37;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5%;
}
body main {
  display: flex;
  flex-direction: column;
  max-width: 625px;
  width: 100%;
  margin: 0 auto;
  transform: translateY(calc(50vh - 50%));
  padding: 24px;
}

p span {
  color: #ff7dc7;
  font-weight: 900;
}

input {
  background: rgba(127, 255, 212, 0.5);
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
  color: white;
}
input::-moz-placeholder {
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}
input::placeholder {
  color: white;
}

.turns-and-matches {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}
@media (max-width: 650px) {
  .turns-and-matches {
    margin-top: 0;
  }
}
.turns-and-matches.all-six-matches {
  font-size: 2.2em;
}
@media (max-width: 650px) {
  .turns-and-matches.all-six-matches {
    font-size: 1.25em;
  }
}

button {
  margin: 0 auto;
  font-family: inherit;
  background-image: linear-gradient(to bottom, rgba(255, 125, 199, 0.8), rgba(255, 125, 199, 0.2));
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: all 300ms ease;
}
button:hover, button.win-background:hover {
  background-image: linear-gradient(to bottom, #282a37, rgba(40, 42, 55, 0.85));
  border: solid 1px #ff7dc7;
  color: #ff7dc7;
  cursor: pointer;
}
button.win-background {
  background-image: linear-gradient(to bottom, #80e1ca, rgba(128, 225, 202, 0.8));
}
button.win-background:hover {
  border: solid 1px #80E1CA;
  color: #80E1CA;
}

.card-grid {
  margin: 5vh auto;
  display: grid;
  row-gap: 3vh;
  grid-template-columns: 120px 120px 120px 120px;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 950px) {
  .card-grid {
    grid-template-columns: 90px 90px 90px 90px;
  }
}
@media (max-width: 650px) {
  .card-grid {
    grid-template-columns: 70px 70px 70px;
  }
}
.card-grid .card {
  position: relative;
}
.card-grid .card img {
  display: block;
  border: solid 1px white;
  border-radius: 50%;
  transition: all 300ms ease;
  perspective: 150em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media (min-width: 950px) {
  .card-grid .card img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 950px) {
  .card-grid .card img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 650px) {
  .card-grid .card img {
    width: 70px;
    height: 70px;
  }
}
.card-grid .card img.front {
  position: absolute;
  transform: rotateY(180deg);
}
.card-grid .card img.back:hover {
  cursor: pointer;
}
.card-grid .card .flipped .front {
  transform: rotateY(0deg);
}
.card-grid .card .flipped .back {
  transform: rotateY(180deg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}
nav li {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */